*
!.gitignore
!.git-preserve-permissions
# /home/isucon/.bashrc.backup
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/.bashrc.backup

# /home/isucon/.bashrc
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/.bashrc

# /home/isucon/isuumo/webapp/go/Makefile
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/isuumo
/home/isucon/isuumo/*
!/home/isucon/isuumo/webapp
/home/isucon/isuumo/webapp/*
!/home/isucon/isuumo/webapp/go
/home/isucon/isuumo/webapp/go/*
!/home/isucon/isuumo/webapp/go/Makefile

# /home/isucon/isuumo/webapp/go/go.mod
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/isuumo
/home/isucon/isuumo/*
!/home/isucon/isuumo/webapp
/home/isucon/isuumo/webapp/*
!/home/isucon/isuumo/webapp/go
/home/isucon/isuumo/webapp/go/*
!/home/isucon/isuumo/webapp/go/go.mod

# /home/isucon/isuumo/webapp/go/go.sum
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/isuumo
/home/isucon/isuumo/*
!/home/isucon/isuumo/webapp
/home/isucon/isuumo/webapp/*
!/home/isucon/isuumo/webapp/go
/home/isucon/isuumo/webapp/go/*
!/home/isucon/isuumo/webapp/go/go.sum

# /home/isucon/isuumo/webapp/go/main.go
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/isuumo
/home/isucon/isuumo/*
!/home/isucon/isuumo/webapp
/home/isucon/isuumo/webapp/*
!/home/isucon/isuumo/webapp/go
/home/isucon/isuumo/webapp/go/*
!/home/isucon/isuumo/webapp/go/main.go

# /home/isucon/env.sh
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/env.sh

# /etc/mysql/conf.d/my.cnf
/*
!/etc
/etc/*
!/etc/mysql
/etc/mysql/*
!/etc/mysql/conf.d
/etc/mysql/conf.d/*
!/etc/mysql/conf.d/my.cnf

# /etc/nginx/sites-available/isuumo.conf
/*
!/etc
/etc/*
!/etc/nginx
/etc/nginx/*
!/etc/nginx/sites-available
/etc/nginx/sites-available/*
!/etc/nginx/sites-available/isuumo.conf

