Host isucon-bastion
  HostName 157.112.64.162
  User isucon
  Port 20340

Host team162-001
  ProxyJump isucon-bastion
  HostName 10.161.62.101
  LocalForward localhost:10080 localhost:80
  LocalForward localhost:10443 localhost:443
  LocalForward localhost:3000 localhost:3000
  User root

Host team162-002
  ProxyJump isucon-bastion
  HostName 10.161.62.102
  LocalForward localhost:20080 localhost:80
  LocalForward localhost:20443 localhost:443
  User root

Host team162-003
  ProxyJump isucon-bastion
  HostName 10.161.62.103
  LocalForward localhost:30080 localhost:80
  LocalForward localhost:30443 localhost:443
  User root
